<h2>Build Your Grocery List</h2>

<div><h3>Shop Available Items</h3></div>
<ul>
  <% @grocery_items.each do |item, price| %>
    <li>
      <%= item %>
      <div>$<%= formatted_price(price) %></div>
      <div>
        <form action="/add/<%= item %>/<%= formatted_price(price) %>" method="post">
          <button type="submit">Add To List</button>
        </form>
      </div>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a href="/list">View Your List</a>
<% end %>