<h2>Your Grocery List</h2>
<ul>
  <% @list.each do |item| %>
    <li>
      <p>
        <div><%= item[:name] %></div>
        <div>Price: $<%= item[:price] %></div>
        <div>Quantity: <%= item[:quantity] %></div>
      </p>
    </li>
  <% end %>
</ul>

<div>
  <p><strong>Total Cost: $<%= calculate_total_cost %></strong></p>
</div>

<% content_for :header_links do %>
  <a href="/shop">Back to Shop Available Items</a>
<% end %>